<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommender</title>
</head>

<body>
  <form method="GET"></form>
  <form method="POST" onsubmit="fetchRecommendations">
    <input name="" type="text" placeholder="movie name" id="movId">
    <button>Find</button>
  </form>
</body>

<script>
  movieId = document.getElementById("movId")
  function fetchRecommendations() {
    fetch("http://localhost:5000/recommend?movie=" + movieId, { method: "post" })
  }
</script>

</html>